{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="jumbotron" style="text-align:center; background-color: #f5d548; font-size:60px;">
        <span style="font-size:60px; font-family: 'Akronim', cursive;">GIVE US YOUR OPINION</span>
    </div>
</div>

<div class="container" style="background-color: #dddfdf;">
        {% for topic in topics %} 
<div class="col-md-6">

<h2 style="font-size:25px; font-family: 'Akronim', cursive;">Title: {{topic.title}}</h2><hr>
<img class="img-responsive" src= "{{topic.image_header.url}}" class="img-responsive" style=" float:center; width:400px;height:300px;padding:0;" alt="image"><hr>
<a href="topic/comment" button class="btn btn-success" type="submit" name="button">Add A Comment</button></a>       
</div>
{% endfor %} 
{% for comment in comments %}
<h2 style="font-size:25px; font-family: 'Akronim', cursive;">Name: {{user.profile.full_name}}</h2><hr>
<h2 style="font-size:25px; font-family: 'Akronim', cursive;">Comment: {{comment.comment}}</h2>
{% endfor %}
</div>



{% endblock %}