{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="jumbotron" style="text-align:center; background-color: #f5d548; font-size:60px;">
        <span style="font-size:60px; font-family: 'Akronim', cursive;">GIVE US YOUR OPINION</span>
    </div>
</div>

<div class="col-md-6">
<div class="container">
<div class="card" style="text-align:left;">
<h2>Title: {{topics.title}}</h2><hr>
<h2>Description: {{topics.title}}</h2><hr>
<img class="img-responsive" src= "{{topics.image_header.url}}" class="img-responsive" style=" float:center; width:400px;height:300px;padding:0;" alt="image">
<a href="topic/comment" button class="btn btn-success" type="submit" name="button">Add A Comment</button></a>       


</div>
</div>
</div>


{% endblock %}