{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
        {% if user.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown" role="button" aria-expanded="false">Account
                <span class="caret"></span>
            </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{%url 'projectsToday'%}">Home</a>
        </li>
        <li>
          <a href="/accounts/password/change">Change Password</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
        
      </ul>
    </li>
    {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
            {% endif %}
  
</div>

    <div class="container">
        <div class="jumbotron" style="text-align:center; background-color: #eceeee; font-size:50px;">
        <h2>Username: {{user.profile.full_name}}</h2><hr>
        <img class="img-responsive" src= "{{user.profile.profile_pic.url}}" class="img-responsive" style=" float:center; width:500px;height:300px;padding:0;" alt="image">
        <h2>Email: {{user.profile.email}}</h2><hr>    
        <a href="/new/profile" button class="btn btn-warning" type="submit" name="button">Edit Profile</button></a>       

    </div>
    </div>
    <div class="container">
        <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 insta_footer">
                    <span style="margin-left:30px;color: #999;"> <strong> FEEDBACK </strong></span>
                    <span style="margin-left:30px;color: #999;"> <strong> SUPPORT </strong></span>
                    <span style="margin-left:30px;color: #999;"> <strong> PROFILES </strong></span>
                    <span style="margin-left:30px;color: #999;"> <strong> HASHTAGS</strong></span>
                    <span style="margin-left:30px;color: #999;"> <strong> LANGUAGES </strong></span>
                    <span style="margin-left:30px;color: #999;"> <strong> TERMS </strong></span>
                    


                </div>
                <!-- Copyright -->
            </div>
        </footer>
        <!-- Footer -->

{% endblock %}