{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="jumbotron" style="text-align:center; background-color: #00ffff; font-size:60px;">
        <span style="font-size:60px; font-family: 'Akronim', cursive;">YOUR FEEDBACK, OUR PRIORITY</span>
    </div>
</div>



<div class="container" style="background-color: #dddfdf;">
    <div class="row">
        {% for topic in topics %}

        <div class="col-md-6">

            <h2 style="font-size:25px; font-family: 'Akronim', cursive;">Title: {{topic.title}}</h2>
            <hr>
            <h2 style="font-size:25px; font-family: 'Akronim', cursive;">Description: {{topic.description}}</h2>
            <hr>
            <img class="img-responsive" src="{{topic.image_header.url}}" class="img-responsive"
                style=" float:center; width:400px;height:300px;padding:0;" alt="image">
            <hr>
            <a href="topic/always" button class="btn btn-success" type="submit" name="button">View More</button></a>


        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}